.container
{
	margin:12px;
	padding:12px;
	background: rgba(128,128,128,0.1);
	vertical-align: top;
}

.container.inline
{
	display:inline-block;
}

.item:first-child
{
	margin-top:0px;
}

.item
{
	min-width:100px;
	margin-top:12px;
	padding:12px;
	background: rgba(128,128,128,0.1);
}
